 /*
 This is the CSS Resets page
 */
html, body, div, span, h1, h2, h3, 
header, footer, nav, ul, li, button, img, input, a {
    padding: 0;
    margin: 0;
    font-family: inherit;
    border: 0;
    color: rgb(8, 100, 8);
    background-color: white;
    font-size: medium;
    font-family: Arial, sans-serif;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
}

button {
    border: none;
    background-color: rgb(8, 100, 8);
    color: white;
    border-radius: 2px;
    padding: 8px;
}

button:hover {
    background-color: rgb(1, 22, 1);
    color: white;
    cursor: pointer;
}

.button {
    border: none;
    background-color: rgb(8, 100, 8);
    color: white;
    border-radius: 2px;
    padding: 8px;
}

.button:hover {
    background-color: rgb(1, 22, 1);
}

input {
    padding: 8px;
    outline: transparent;
}

.error {
    text-decoration: none;
    color: red;
    text-align: center;
}

.logo {
    object-fit: cover;
    object-position: 100% 40%;
    height: 50px;
    width: 150px;
}