 /*
 This is the CSS Resets page
 */
html, body, div, span, h1, h2, h3, 
header, footer, nav, ul, li, button, img, input, a {
    padding: 0;
    margin: 0;
    font-family: inherit;
    border: 0;
    color: rgb(81, 182, 81);
    background-color: white;
    font-size: medium;
    font-family: Arial, sans-serif;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
}

button {
    border: none;
    background-color: rgb(20, 177, 20);
    color: white;
    border-radius: 2px;
    padding: 8px;
}

button:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.button {
    border: none;
    background-color: rgb(20, 177, 20);
    color: white;
    border-radius: 2px;
    padding: 8px;
}

.button:hover {
    background-color: green;
}

input {
    padding: 8px;
}

.error {
    text-decoration: none;
    color: red;
    text-align: center;
}

