.quest-container{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
}
.quest-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 50vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(250, 246, 246);
}

.quest-form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 50vh;
    padding-bottom: 3rem;
    background-color: rgb(250, 246, 246);
}

.top-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(250, 246, 246);
}
.back{
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    padding: 2%;
    background-color: rgb(250, 246, 246);
}
.home{
    left: 0;
    margin-bottom: 4%;
}

.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bars{
    padding-top: 1rem;
    padding-bottom: .5rem;
    width: 100%;
}

.bar1{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 3rem;
    padding-left: 2rem;
}
.bar2{
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    height: 1rem;
}
.logo2 {
    height: 4rem;
    width: 10rem;
    object-position: 100% 40%;
    object-fit: cover;
    padding-top: 1rem;
    margin-right: 5rem;
}
.currentN{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    border-radius: 50%;
    color: green;
    height: 1.5rem;
    width: 1.5rem;
    font-size: .75rem;
    text-align: center;
    font-weight: bold;
}

.grey-out{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(189, 186, 186);
    border-radius: 50%;
    color: rgb(73, 72, 72);
    height: 1.5rem;
    width: 1.5rem;
    font-size: .75rem;
    text-align: center;
    background-color: rgb(189, 186, 186);
    font-weight: bold;
}

.lineN{
    width: 32.5%;
    height: .5px;
    border: 1px solid rgb(189, 186, 186);
    margin-top: .5rem;
    background-color: rgb(189, 186, 186);
}

.lineS{
    width: 23.5%;
    height: .5px;
    border: 1px solid rgb(189, 186, 186);
    margin-top: .5rem;
    background-color: rgb(189, 186, 186);
}
.line{
    color: rgb(165, 161, 161);
    font-size: .75rem;
}

.current{
    color: black;
    font-weight: 600;
    font-size: .75rem;
}

.quest-name{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 1px grey);
    margin-top: 2rem;
    min-width: fit-content;
}

.label{
    padding: 1rem;
    color: black;
    font-weight: bold;
}

.input{
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 2px;
    color: black;
    width: 75%;
    margin-left: 10%;
    margin-bottom: 1rem;
}

.textarea{
    width: 90%;
    height: 5rem;
    margin-left: 5%;
    margin-bottom: 3rem;
}

.text{
    width: 35rem;
    flex-wrap: wrap;
}

.selected{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
}

.select{
    height: 1.2rem;
}
.p{
    color: black;
    margin-left: 1rem;
}
.orders{
    color: green;
    text-align: left;
    

}
.back-button{
    margin-left: 2rem;
}
#back {
    background-color: white;
}
.hero-container{
    color: black;
    border: 1px solid grey;
    border-radius: 2px;
    width: 70%;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-top: 0;
    height: fit-content;
    padding: 4px;
    filter: drop-shadow(1px 1px 1px grey);
}

.heros-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(250, 246, 246);
    margin-left: 5rem;
    
}

.select2{
    margin-left: 1rem;
}

.star{
    height: 1rem;
    width: 1rem;
}

.rating{
    margin-left: 1%;
}

.rating-container{
    display: flex;
    color: black;
    margin-left: 1rem;
    width: 80%;

}

.adv-img{
    border-radius: 50%;
    height: 30vh;
    width: 30vh;
    margin: 2%;
    object-fit: cover;
}

.hero-name{
    font-size: larger;
    font-weight: bold;
    margin-right: 10%;
}

.hero-details{
    margin-left: 10%;
    color: black;
}

.top-hero{
    display: flex;
}

.radio-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 2%;
}

.radio{
    color: black;
    margin: 8px;
}

#margin{
    margin: 8px;
}

.h1{
    color: black;
    font-weight: bold;
    font-size: larger;
    margin: 2%;
}

.show-quests{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.label-2{
   display: flex;
   flex-direction: row;
}

.type{
    color: black;
    width: 10rem;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;
}

.input2{
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 2px;
    color: black;
    width: 75%;
    margin-bottom: 1rem;
}

.textarea2{
    align-self: center;
    width: 52%;
    height: 8rem;
    border-radius: 2px;
    margin-bottom: 8px;
}

.edit-quest-container{
    display: flex;
    flex-direction: column;
    color: black;
    border: 1px solid grey;
    border-radius: 2px;
    width: 75%;
    height: fit-content;
    margin: 2rem;
}

.cancel-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    
}

.div{
    margin: 2%;
    text-align: start;
}

.textarea3{
    width: 50vw;
    height: 8rem;
    border-radius: 2px;
    margin-bottom: 8px;
    filter: drop-shadow(1px 1px 1px grey);
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    width: 100%;
    color: green;
}

.label-container{
    display: flex;
    justify-content: center;
    margin: 2%;
}

hr{
    margin-bottom: 0;
}

.form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
}

#background{
    background-color: rgb(250, 246, 246);
}

.sorting{
    display: flex;
    align-self: flex-end;
    background-color: rgb(250, 246, 246);
    margin-right: 30vw;
}

.sort{
    color: black;
    background-color: rgb(250, 246, 246);
    font-weight: 700;
}

.check-box{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    background-color:  rgb(250, 246, 246);
    border: 1px solid black;
    border-radius: 2px;
    padding: 1rem;
    margin-left: 2rem;
}

.checkbox{
    display: flex;
    flex-direction: row;
    background-color:  rgb(250, 246, 246);
    margin-top: .5rem;
}

#center{
    align-self: center;
    margin-bottom: 8px;
}

#center-form {
    margin-left: 25%;
}
#pencil{
    color: black;
    align-self: flex-end;
    margin: 8px;
} 

#pencil:hover{
    color: green;
    cursor: pointer;
}

.orders2{
    color: blue;
    align-self: center;
    margin: 2rem;
}

.orders3{
    color: black;
    background-color: rgb(250, 246, 246);
}

.orders4{
    color: blue;
    margin-left: 1rem;
}



.red{
    color: red;
    align-self: center;
    margin: 8px;
}

#margin2{
    margin: 8px;
    margin-bottom: 1rem;
}

.width2{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(250, 246, 246);
}

#blue{
    color: blue;
    margin-right: .5rem;
}

.award{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.check{
    border: 1px solid grey;
    border-radius: 2px;
    background-color: transparent;
    color: blue;
    height: 1rem;
    width: 1rem;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 0;
}
.p10{
    color: black;
    margin-left: .2rem;
}
#shrink{
    position: absolute;
    left: 3rem;
    top: 2.53rem;
}
.check:hover{
    background-color: lightgray;
}

.margin-bottom{
    margin-bottom: 2rem;
}

.pencil {
    height: 2rem;
    width: 2rem;
}

.change-form{
    background-color: white;
    color: green;
    border: .1rem solid green;
}

.change-form:hover{
    background-color: green;
    color: white;
}

#sign-up{
    color:white;
}