form {
    top: 10%;
    display: flex;
    background-color: white;
    width: 50%;
    min-height: fit-content;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    border-radius: 3px;
    right: 25%;
}

#form1 {
    height: 65vh;
    min-height: fit-content;
}

.inter-form>input {
    margin: 16px;
    width: 50%;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 8px;
}

.inter-form>button {
    margin: 16px;
    width: 53%;
    border-radius: 3px;
    padding: 8px;
}

form > input {
    color: black;
}

.form-photo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-size: cover;
}

.login-guest {
    text-align: center;
    background-color: rgb(83, 221, 164);
    color: white;
    margin: 16px;
    width: 50%;
    border-radius: 3px;
    padding: 8px;
}

.login-guest:hover {
    background-color: rgb(48, 204, 139);
}

.title{
    margin-top: 1rem;
    font-weight: 600;
}
