.hero-image {
    width: 100%;
    height: 90vh;
    margin-top: 3.5rem;
}
.hero-img-frame{
    margin-bottom: 0;
    padding-bottom: 0;
}
.splash-form {
    padding: 20px;
    margin-top: 10%;
}

.links {
    width: 57%;
}

.links2{
    display: flex;
    margin-top: 2rem;
}

form > h1 {
    color: black;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

form > p {
    color: black;
    text-align: center;
}
.bar{
    width: 90%;
}
.hero-search-bar {
    border: 1px solid lightgray;
    margin: 8px;
    width: 55%;
}

.btn-4 {
    border: 1px solid green;
    color: green;
    border-radius: 2px;
    padding: 4px;
    margin-right: 16px;
    font-weight: 525;
}

.btn-4:hover {
    background-color: green;
    color: white;
}

.underdog{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: black;
    font-weight: bold;
    padding-top: 8px;
}

.star2{
    height: 1rem;
    width: 1rem;
}

.ikea-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 4rem;
    background-color: blue;
    margin-right: .3rem;
}

.ikea{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color: blue;
    border-radius: 50%;
    font-weight: 900;
    height: 1.8rem;
    width: 3.8rem;
    text-align: center;
}

.store{
    display: flex;
    background-color: black;
    border-radius: .5rem;
    color: white;
    padding: .2rem;
}

.small{
    font-size: .5rem;
    color: white;
    background-color: black;
    border-radius: .5rem;
}
#apple{
    align-self: center;
    font-size: 1.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: black;
    padding-top: .2rem;
}

.fake-logo{
    color: white;
    background-color: black;
    border-radius: .5rem;
    padding: .3rem;
}

.go{
    height: 2rem;
    width: 2rem;
    border-radius: .5rem;
    background-color: black;
    padding-top: .2rem;
}

#margin-right{
    margin-right: .3rem;
}