.loader {
    margin: 5rem;
    border: 2rem solid #f3f3f3;
    /* Light grey */
    border-top: 2rem solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.spin-container{
    width: 50vh;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-content: center;
}